{% block footer %}
<div class="container bottom_border">
    <div class="row">
       <div class=" col-sm-4 col-md col-sm-4  col-12 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Bize Ulaşın / Hakkımızda</h5>
          <!--headin5_amrc-->
          <p class="mb10">www.foruandme.com sizlere online pazardaki moda ürünleri tek panelden arama, karşılaştırma ve fiyat takibi yapma imkanı sunuyor.</p>
          <p><i class="fa fa-location-arrow"></i> Caferağa Talimhane Sok. Kadiköy/İstanbul</p>
          <p><i class="fa fa-phone"></i>  +90 546 887 95 96 </p>
          <p><i class="fa fa fa-envelope"></i> tvural@lookupprice.com  </p>
       </div>
       <div class=" col-sm-4 col-md  col-6 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Favori Aramalar</h5>
          <!--headin5_amrc-->
          <ul class="footer_ul_amrc">

             <li><a target="_blank" href={% url 'urunsayfa' slug="saat" %}>Saat</a></li>
             <li><a target="_blank"  href={% url 'urunsayfa' slug="kot" %}>Kot</a></li>
             <li><a target="_blank"  href={% url 'urunsayfa' slug="bot" %}>Bot</a></li>
             <li><a target="_blank"  href={% url 'urunsayfa' slug="ceket" %}>Ceket</a></li>
             <li><a target="_blank"  href={% url 'urunsayfa' slug="canta" %}>çanta</a></li>
             <li><a target="_blank"  href={% url 'urunsayfa' slug="atki" %}>Atkı</a></li>

          </ul>
          <!--footer_ul_amrc ends here-->
       </div>
       <div class=" col-sm-4 col-md  col-6 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Siteler</h5>
          <!--headin5_amrc-->
          <ul class="footer_ul_amrc">
             <li><a href="http://www.foruandme.com/arama/">H&M</a></li>
             <li><a href="http://www.foruandme.com/arama/">Markafoni</a></li>
             <li><a href="http://www.foruandme.com/arama/">Boyner</a></li>
             <li><a href="http://www.foruandme.com/arama/">Trendyol</a></li>
             <li><a href="http://www.foruandme.com/arama/">Morhipo</a></li>
             <li><a href="http://www.foruandme.com/arama/">Daha fazlası..</a></li>
          </ul>
          <!--footer_ul_amrc ends here-->
       </div>
       <div class=" col-sm-4 col-md  col-12 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Takip Et</h5>
          <!--headin5_amrc ends here-->
          <ul class="footer_ul2_amrc">
                <li>
                    <p>Email adresini bırak. Hemen abone ol!</p>
                </li>
                 <li>
                    <p>Fırsatlar ve indirimlerden anında haberin olsun!</p>
                </li>
             <li>
                <form  action=""  method="post" style="color: white">{% csrf_token %}{{ uyeform }}<button style="margin-left: 5px;" type="submit">Gönder</button></form>

             </li>

          </ul>
          <!--footer_ul2_amrc ends here-->
       </div>
    </div>
 </div>
 <div class="container">
    <ul class="foote_bottom_ul_amrc">
       <li><a href="{% url 'HomePageView' %}">Anasayfa</a></li>
       <li><a href="{% url 'signup' %}">Üye ol</a></li>
       <li><a href="{% url 'campaign' %}">Kampanyalar</a></li>
       <li><a href="{% url 'HomePageView' %}">2.el ürünler</a></li>
       <li><a href="{% url 'HomePageView' %}">Blog</a></li>
       <li><a href="{% url 'index' %}">Arama Yap</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2019 | Designed With by tugrul vural<a href="{% url 'HomePageView' %}"> Lookupprice.com iştiraki</a></p>
    <ul class="social_footer_ul">
       <li><a target="_blank" href="https://www.facebook.com/Lookupprice/"><i class="fa fa-facebook"></i></a></li>
       <li><a target="_blank" href="https://twitter.com/lookupprice"><i class="fa fa-twitter"></i></a></li>
       <li><a target="_blank" href="https://www.linkedin.com/in/kasim-tugrul-vural/"><i class="fa fa-linkedin"></i></a></li>
       <li><a target="_blank" href="https://www.instagram.com/lookupprice/"><i class="fa fa-instagram"></i></a></li>
    </ul>
    <!--social_footer_ul ends here-->
 </div>
{% endblock %}