{% block nav %}

    {% csrf_token %}
<div>
    <label for="id_your_name"><h3>İnternette aradığın bütün ürünlere tek bir siteden ulaş<br>İndirimli fiyat ve kampanyaları anında yakala!</h3></label></br>
   <input class="forminput" type="text" onfocus="this.value=''" value="Hayal Ettiğin Ürünü Hemen Ara!"
      name="your_name" maxlength="100" required="" id="id_your_name">
</div>
<div class="searchform-sites">
   <label>Siteni Seçmeyi Unutma:</label></br>
   <span id="id_countries">
      <label for="id_countries_0"><input type="checkbox" name="countries" value="Boyner" id="id_countries_0">
      Boyner</label>
      <label for="id_countries_1"><input type="checkbox" name="countries" value="HM" id="id_countries_1">
      HM</label>
      <label for="id_countries_2"><input type="checkbox" name="countries" value="Trendyol" id="id_countries_2">
      Trendyol</label>
      <!--<label for="id_countries_3"><input type="checkbox" name="countries" value="Zara" id="id_countries_3">
         Zara</label>-->
      <label for="id_countries_4"><input type="checkbox" name="countries" value="Morhipo" id="id_countries_4">
      Morhipo</label>
      <!--<label for="id_countries_5"><input type="checkbox" name="countries" value="Network" id="id_countries_5">
         Network</label>-->
      <label for="id_countries_6"><input type="checkbox" name="countries" value="Markafoni" id="id_countries_6">
      Markafoni</label>
   </span>
</div>
<input style="border-radius: 20px;" type="submit" class="btn btn-primary" value="Ürün Ara">
{% endblock %}