<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-3023241293141783",
          enable_page_level_ads: true
     });
</script>
    <meta charset="UTF-8">
    <title>Foruandme Ürün Arama Motoru</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

</head>
<body>

      <nav class="navbar">
        {% include 'include/nav.html' %}
      </nav>
<div class="container">
<div style="text-align: center;margin: 20px;">
    <h3>Kampanyaları yakından takip edin.</h3>
    <h5>Son çıkan fırsatları Kaçırmayın !</h5>
</div>
<div class="w3-bar w3-black" style="margin: 50px;">
  <button class="btn btn-default btn-sm" onclick="openCity('London')">Siteye Göre >></button>
  <button class="btn btn-default btn-sm" onclick="openCity('Paris')">Alfabeye Göre >></button>

</div>

<div id="London" class="w3-container city">
<div class="row">

{% for item in basedsite %}
    <div class="col-md-4" style="margin-left: auto;margin-right: auto">
    <ul>
        <li>{{ item.site }}</li>
        <li><i class="fa fa-bullhorn"></i>  <a target="_blank" href="{{ item.url }}">{{ item.title }}</a></li>
    </ul>
    </div>
{% endfor %}

</div>


</div>

<div id="Paris" class="w3-container city" style="display:none">
<div class="row">

{% for item in homelist %}
    <div class="col-md-4" style="margin-left: auto;margin-right: auto">
    <ul>
        <li>{{ item.site }}</li>
        <li><i class="fa fa-bullhorn"></i>  <a target="_blank" href="{{ item.url }}">{{ item.title }}</a></li>
    </ul>
    </div>
{% endfor %}


</div>
</div>


</div>

<footer class="footer">
            {% include 'include/footer.html' %}
</footer>

</body>

<script>
function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(cityName).style.display = "block";
}
</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130645612-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130645612-1');
</script>


</html>