<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
   <head>
       <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3023241293141783",
    enable_page_level_ads: true
  });
</script>
      <meta charset="UTF-8">
      <title>Foruandme Ürün Arama Motoru</title>
      <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
      <link rel="icon" href="{% static 'images/favicon.ico' %}">
   </head>
<body>
      <nav class="navbar">
        {% include 'include/nav.html' %}
      </nav>
<div class="cotainer">
    <div class="row">
            {% for content in contents %}

            <div class="col-md-4">

<ul>
    <a href="{% url 'contentblogdetail'  slug=content.slug %}">
    <li><h3>{{ content.title }}</h3></li>
    <li><img src="{{ content.image }}"></li>
    <li>{{ content.content|truncatewords:20 }}</li>
    <li>{{ content.slug }}</li>
    <li>{{ content.crontime }}</li>
    <li>{{ content.site }}</li></a>
</ul>


            </div>
 {% endfor %}

    </div>
            <div style="text-align: center;margin-right: auto;margin-left: auto" class="pagination">
            <span class="step-links">
                {% if contents.has_previous %}
                    <a href="?page=1">&laquo; İlk Sayfa</a>
                    <a href="?page={{ contents.previous_page_number }}">Önceki</a>
                {% endif %}

                <span class="current">
                    Sayfa {{ contents.number }} of {{ contents.paginator.num_pages }}.
                </span>

                {% if contents.has_next %}
                    <a href="?page={{ contents.next_page_number }}">Sonraki</a>
                    <a href="?page={{ contents.paginator.num_pages }}">Son Sayfa &raquo;</a>
                {% endif %}
            </span>
        </div>
</div>
      <footer class="footer">
         {% include 'include/footer.html' %}
      </footer>
</body>
</html>
