<!DOCTYPE html>
{% load staticfiles %}
<html>
   <head>
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-3023241293141783",
          enable_page_level_ads: true
     });
</script>

      <meta charset="UTF-8">
      <title>Foruandme Ürün Arama Motoru</title>
      <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'css/Blogcsshomepage.css' %}">
      <link rel="icon" href="{% static 'images/favicon.ico' %}">
       <meta name="google-site-verification" content="EkZ-Pe4grEg4j1Md0cIINp2PfjzMxwO1c2buDVe_LlI" />
   </head>
   <body>

      <nav class="navbar">
        {% include 'include/nav.html' %}
      </nav>
      <div class="bg"></div>
      <!--<div class="caption">
         <a href="{% url 'index' %}"><span class="borderin"></span><br><br>
         <span class="borderin"></span><br><br>
         <span class="borderin"></span><br><br>
         <span class="borderin"></span></a>
      </div>-->
      <div class="col-md-12">
         <form action="" class="searchform" method="post">
            {% include 'include/searchform.html' %}
         </form>
      </div>
      <div class="container">
               <div class="row">
            <div class="col-md-12">
               <h2 style="text-align: center">BLOG</h2>
            </div>
            {% for y in contents %}
            <div class="col-md-4">
               <ul>
                     <li>
                        <h5>{{ y.title }}</h5>
                     </li>
                     <li>{{ y.site }} / {{ y.crontime }}</li>
                     <li><img src="{{ y.image }}" style="width: 80%"></li>
                      <li>{{ y.content|truncatewords:15 }} <a href="{% url 'contentblogdetail' slug=y.slug %}"><i>Devamı için ...</i></a></li>
                     <br>

               </ul>
            </div>
            {% endfor %}
         </div>
         <div class="row">
            <div class="col-md-12">
               <h5>Diğerleri</h5>
            </div>
            {% for x in blogs %}
            <div class="col-md-4">
               <ul>
                  <a target="_blank" href="{{ x.url }}">
                     <li>
                        <h5>{{ x.title }}</h5>
                     </li>
                     <li>{{ x.site }} / {{ x.searchtimeblog }}</li>
                     <li><img class="img-responsive" alt="Responsive image" src="{{ x.image }}" style="width: 80%"></li>
                     <br>
                  </a>
               </ul>
            </div>
            {% endfor %}
         </div>

         <div class="row">
            <div class="col-md-12">
               <h5 style="margin-top: 10px;">Beğeniler</h5>
            </div>
            {% for f in intagrams %}
            <div class="col-md-4">
               <ul>
                  <a target="_blank" href="#">
                     <li>#{{ f.tagname }}</li>
                     <li><img src="{{ f.image_display_url }}" style="width:70%;"> </li>
                     <li>Beğeni Sayısı : {{ f.image_like_count }}</li>
                      <li>{{ f.image_comment|truncatewords:15 }}</li>
                  </a>
               </ul>
            </div>
            {% endfor %}
         </div>
         <div class="row">
            <div class="col-md-12">
               <h5 style="margin-top: 10px;">Kampanyalar</h5>
            </div>
            {% for keyword in campaings %}
            <div class="col-md-4">
               <ul>
                  <a target="_blank" href="{{ keyword.url }}">
                     <li><i class="fa fa-bullhorn"></i>  {{ keyword.title }}</li>
                      <li>{{ keyword.site }}</li>
                  </a>
               </ul>
            </div>
            {% endfor %}
         </div>
      </div>
      <footer class="footer">
         {% include 'include/footer.html' %}
      </footer>

   </body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130645612-1"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-130645612-1');
   </script>
</html>