<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}


</style>
</head>
<body>

<!-- Simulate a smartphone / tablet -->
<div class="mobile-container">

<!-- Top Navigation Menu -->
<div class="topnav">
  <a class="active" href="{% url 'HomePageView' %}"><i class="fa fa-home"></i> Ana Sayfa</a>
  <div id="myLinks">
    <a href="{% url 'campaign' %}"><i class="fa fa-flag-o" ></i> Kampanyalar</a>
    <a href="{% url 'index' %}" user=user.id><i class="fa fa-fw fa-search"></i> Ürün Ara</a>
    <a href="{% url 'contentblog' %}"><i class="fa fa-book"></i> Blog</a>
    {% if user.is_authenticated %}
    <a href="{% url 'profilpage' %}" user=user.id><i class="fa fa-user-o" ></i> Ürünlerim</a>
    {% else %}
    <a href="{% url 'signup' %}"><i class="fa fa-user-o"></i> Ürünlerim</a>
    {% endif %}
      {% if user.is_authenticated %}
    <a href="#">Hi {{ user.username }}</a>
    <a href="{% url 'logout' %}">Log out</a>
    <a href="{% url 'profilpage' %}" user=user.id><i class="fa fa-user-o"></i></a>
    {% else %}
    <a href="{% url 'signup' %}">Üye Ol</a>
    <a href="{% url 'login' %}">Giriş Yap</a>
    {% endif %}
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div style="padding-left:16px">
  <h3>Vertical Mobile Navbar</h3>
  <p>This example demonstrates how a navigation menu on a mobile/smart phone could look like.</p>
  <p>Click on the hamburger menu (three bars) in the top right corner, to toggle the menu.</p>
</div>

<!-- End smartphone / tablet look -->
</div>



</body>
</html>
